# Docker bootstrap variables
DB_USER=admin
DB_PASSWORD=<pwd>
DB=rag
DB_HOST=postgres-ekh
DB_PORT=5432

# logging
LOGGING_CONFIG_FILE=logging.yaml #no default, skipped if empty.

# API

#TODO

# Queue
RABBITMQ_URL=amqp://guest:guest@rabbitmq-ekh:5672/

# PG
POSTGRES_USER=admin
POSTGRES_PASSWORD=<pwd>
POSTGRES_HOST=postgres-ekh
POSTGRES_DB=rag

# PG readonly
#POSTGRES_USER=readonly_user
#POSTGRES_PASSWORD=readonly

# PG Admin
PGADMIN_DEFAULT_EMAIL=<some@email.com>
PGADMIN_DEFAULT_PASSWORD=admin

# Embedding Dimension (max dimension for embeddings, typically 512 or 1024)
WIKIPEDIA_EMBEDDING_MAX_DIMENSION=512
WIKIPEDIA_EMBEDDING_MODEL_BACKEND=SENTENCE_TRANSFORMER
WIKIPEDIA_EMBEDDING_MODEL_CLEANUP=False
WIKIPEDIA_EMBEDDING_MODEL_BATCH_SIZE=32
WIKIPEDIA_EMBEDDING_MODEL_MAX_LENGTH=4096
WIKIPEDIA_EMBEDDING_MODEL_DTYPE=float16 # Options: float16, float32
WIKIPEDIA_EMBEDDING_IS_RNG_MODE=False
WIKIPEDIA_RNG_SEED=17

WIKIPEDIA_PROCESS_BATCH_SIZE=256 # defaults to 256, amount of items pulled out of ingest queue for tokenization

# Sentence Transformer specific configs
SENTENCE_TRANSFORMER_IS_CPU=False
SENTENCE_TRANSFORMER_MODEL_NAME="Qwen/Qwen3-Embedding-0.6B"
FLASH_ATTENTION_DISABLED=False # Set to True to disable flash_attention_2 even when flash-attn is available

DB_SKIP_STORE=True

PYTORCH_ALLOC_CONF="max_split_size_mb:256,garbage_collection_threshold:0.6,expandable_segments:False"
PYTORCH_CUDA_GPU_CAP=0.8

# would extract files while reading bz2 file, be careful with disk space...
DEBUG_EXTRACTION=True

ENABLE_SSL_VERIFICATION=False

SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt

# Flags to enable or disable crucial processes in the knowledge base service.
SVC_KB_ENABLE_INGESTION=True # defaults to True
SVC_KB_ENABLE_PROCESSING=True # defaults to True
SVC_KB_ENABLE_STORING=True # defaults to True