nameOverride: ""
fullnameOverride: ""

replicaCount: 1

image:
  repository: ghcr.io/ssc-dsai/enterprise-knowledge-hub
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  #tag: "0.1.0-cuda-9.0" #h100/h200 GPUs ... else we need - 
  tag: "0.1.0-cpu" # CPU only, for testing on minikube locally.

imagePullSecrets: []

pytorch:
  allocConf: "max_split_size_mb:256,garbage_collection_threshold:0.8,expandable_segments:False"

wikiEmbeddingModel:
  backend: "SENTENCE-TRANSFORMERS"
  cleanup: false
  batchSize: 4
  maxLength: 4096
  maxDim: 512
  dtype: "float16"

postgresql:
  enabled: true
  user: "postgres"
  name: "postgres"
  host: ""
  port: 5432
  password: "postgres"
  batchSize: 500
  auth:
    username: "postgres"
    password: "postgres"
    database: "postgres"
  primary:
    persistence:
      enabled: true
      size: 8Gi
  #  valueFrom:
  #    secretKeyRef:
  #      name:
  #      key:

rabbitmq:
  enabled: true
  url: ""
  host: ""
  port: 5672
  user: "guest"
  password: "guest"
  vhost: "/"
  auth:
    username: "guest"
    password: "guest"
  #  valueFrom:
  #    secretKeyRef:
  #      name:
  #      key:

podAnnotations: {}
podLabels: {}

podSecurityContext:
  {}
  # fsGroup: 2000

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 1

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true

service:
  type: ClusterIP
  port: 80
  annotations: {}

ingress:
  enabled: false
  className: ""
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "500m"

nodeSelector: {}

tolerations: []

affinity: {}
