nameOverride: ""
fullnameOverride: ""

replicaCount: 2

image:
  repository: ghcr.io/ssc-dsai/enterprise-knowledge-hub
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  #tag: "0.1.0-cuda-9.0" #h100/h200 GPUs ... else we need - 
  tag: "0.1.0" # CPU only, for testing on minikube locally.

imagePullSecrets:
  - name: ghcr-pull-secret

pytorch:
  allocConf: "max_split_size_mb:256,garbage_collection_threshold:0.8,expandable_segments:False"

wikiEmbeddingModel:
  backend: "SENTENCE-TRANSFORMERS"
  cleanup: false
  batchSize: 4
  maxLength: 4096
  maxDim: 512
  dtype: "float16"

pgvector:
  enabled: false

rabbitmq:
  enabled: true
  url: ""
  host: ""
  port: 5672
  user: "guest"
  password: "guest"
  vhost: "/"
  image:
    registry: docker.io
    repository: rabbitmq
    tag: "4.2.1-management"
  auth:
    username: "guest"
    password: "guest"

podAnnotations: {}
podLabels: {}

podSecurityContext:
  {}
  # fsGroup: 2000

livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 1

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true

service:
  type: ClusterIP
  port: 80
  annotations: {}

resources:
  requests:
    memory: "256Mi"
    cpu: "500m"
  limits:
    memory: "1Gi"
    cpu: "2000m"

nodeSelector: {}

tolerations: []

affinity: {}
