name: Pylint

on: [push]

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    
    - name:  Sync dependencies with uv
      run: uv sync
    
    - name: Run pylint
      run: |
        uv run pylint $(git ls-files '*.py') --rcfile=.vscode/pylintrc
